[Unit]
Description=Verifica atualizações do Hero a cada 5 minutos

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=hero-update.service

[Install]
WantedBy=timers.target
